Overall
https://towardsdatascience.com/building-an-employee-churn-model-in-python-to-develop-a-strategic-retention-plan-57d5bd882c2d
- I saw only one hot encoding and no label encoding. The article stated we need both
- No MinMaxScaler, the article stated that there will be better results
- There could be a bigger problem with Train data, check my remarks
- Some code changes were applied
- at the end not everything was understood in regard to NN, as too many new and different functions were used.
- The NN accuracy is sometimes very random. Some learnings are getting ~15% accuracy some over ~80%. Looks loke there are two minimums. Maybe check something like gradient descent? Maybe its already used, then other minimum function.

Overall:
The most interesting regression was the Random Forest. Where you can get a ranking of most influantial things why people leave the company. This was very insigtfull. The NN can only predict how likely will someone will leave. NN is as always a black box algorithm. Maybe here just to think if NN is a good algorithm to have for this problem.
Untill now I have the feeling NN is only good if you dont understand anything and there some kind of totaly unstructured data. Here the data is very much structure and understandable.

In [8]:
# Colab only
#from google.colab import drive
#drive.mount('/content/gdrive')

Packages for Virtual Envirenment

In [9]:
# Packages for Virtual Environment
#! pip install tensorflow
#! pip install pandas
#! pip install sklearn
#! pip install xlrd

In [10]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
import os 
import json
import codecs

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import feature_column
from tensorflow import keras

from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

This should not be neccassary please check next coding

In [11]:
#dtypes={
#    'Age':                         'int64',
#    'Attrition':                   'category',
#    'BusinessTravel':              'category',
#    'DailyRate':                   'int64',
#    'Department':                  'category',
#    'DistanceFromHome':            'int64',
#    'Education':                   'int64',
#    'EducationField':              'category',
#    'EmployeeCount':               'int64',
#    'EmployeeNumber':              'int64',
#    'EnvironmentSatisfaction':     'int64',
#    'Gender':                      'category',
#    'HourlyRate':                  'int64',
#    'JobInvolvement':              'int64',
#    'JobLevel':                    'int64',
#    'JobRole':                     'category',
#    'JobSatisfaction':             'int64',
#    'MaritalStatus':               'category',
#    'MonthlyIncome':               'int64',
#    'MonthlyRate':                 'int64',
#    'NumCompaniesWorked':          'int64',
#    'Over18':                      'category',
#    'OverTime':                    'category',
#    'PercentSalaryHike':           'int64',
#    'PerformanceRating':           'int64',
#    'RelationshipSatisfaction':    'int64',
#    'StandardHours':               'int64',
#    'StockOptionLevel':            'int64',
#    'TotalWorkingYears':           'int64',
#    'TrainingTimesLastYear':       'int64',
#    'WorkLifeBalance':             'int64',
#    'YearsAtCompany':              'int64',
#    'YearsInCurrentRole':          'int64',
#    'YearsSinceLastPromotion':     'int64',
#    'YearsWithCurrManager':        'int64',}

In [34]:
# For Colab
# df = pd.read_excel('/content/gdrive/My Drive/WA_Fn-UseC_-HR-Employee-Attrition.xlsx', sheet_name=0,dtype=dtypes)

# Local Data
#df = pd.read_excel('WA_Fn-UseC_-HR-Employee-Attrition.xlsx', sheet_name=0,dtype=dtypes)
df = pd.read_excel('WA_Fn-UseC_-HR-Employee-Attrition.xlsx', sheet_name=0)

Here you can check for non int64 values for hot encoding. easier solution follows.

In [35]:
#dict = df.dtypes.to_dict()

#for key, value in dict.items():
#    print("{}-{}".format(key, value))

get_dummies is not categorical encoding but one hot encoding. Comment is not correct.
cont not used and not needed
cont.append not needed

In [36]:
## preprocessing : categorical encoding
#df['Attrition']=df.Attrition.eq('Yes').mul(1) # change target from Yes/no to 1/0
#cont=[]
#cat=[]
#for key, value in dtypes.items():
#    if key!='Attrition':
#        if value == "int64":
#            cont.append(key)
#        else:
#            cat.append(key)
#df = pd.get_dummies(df, columns=cat)
#df.head()

In [37]:
# preprocessing : categorical encoding
df['Attrition']=df.Attrition.eq('Yes').mul(1) # change target from Yes/no to 1/0
df = pd.get_dummies(df, columns=df.select_dtypes(['object']).columns)
# two rows for all the hot encoding. Isn't it great! :D
df.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1,1102,1,2,1,1,2,94,3,...,0,0,1,0,0,0,1,1,0,1
1,49,0,279,8,1,1,2,3,61,2,...,0,1,0,0,0,1,0,1,1,0
2,37,1,1373,2,2,1,4,4,92,2,...,0,0,0,0,0,0,1,1,0,1
3,33,0,1392,3,4,1,5,4,56,3,...,0,1,0,0,0,1,0,1,0,1
4,27,0,591,2,1,1,7,1,40,3,...,0,0,0,0,0,1,0,1,1,0

In [38]:
rename = ["Department_Human Resources",
          "Department_Research & Development" ,
"EducationField_Human Resources" ,
"EducationField_Life Sciences" ,
"EducationField_Technical Degree", 
"JobRole_Healthcare Representative" ,
"JobRole_Human Resources" ,
"JobRole_Laboratory Technician",
"JobRole_Manufacturing Director",
"JobRole_Research Director",
"JobRole_Research Scientist",
"JobRole_Sales Executive",
"JobRole_Sales Representative"]

for string in rename:
  df.rename(columns={ string : string.replace(" ", "_")}, inplace = True)

df.rename(columns={ "Department_Research_&_Development": "Department_ResearchDevelopment"}, inplace = True)
df.rename(columns={ "BusinessTravel_Non-Travel": "BusinessTravel_NonTravel"}, inplace = True)
df.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobRole_Research_Director,JobRole_Research_Scientist,JobRole_Sales_Executive,JobRole_Sales_Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1,1102,1,2,1,1,2,94,3,...,0,0,1,0,0,0,1,1,0,1
1,49,0,279,8,1,1,2,3,61,2,...,0,1,0,0,0,1,0,1,1,0
2,37,1,1373,2,2,1,4,4,92,2,...,0,0,0,0,0,0,1,1,0,1
3,33,0,1392,3,4,1,5,4,56,3,...,0,1,0,0,0,1,0,1,0,1
4,27,0,591,2,1,1,7,1,40,3,...,0,0,0,0,0,1,0,1,1,0

output takes too much space

In [39]:
#df.dtypes

Moved this coding

In [40]:
#cont = []
#cat = []

#for items in df.dtypes.iteritems(): 
#   if items[0]!='Attrition':
#    cont.append(items[0])

#print(cont)

train will be overwritten. This is strange. I am not very fammiliar with validation dataset. So not sure what to think about this.

In [41]:
train, test = train_test_split(df, test_size=0.2)
train1, val = train_test_split(train, test_size=0.2)
print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')

1176 train examples
236 validation examples
294 test examples

dataframe = dataframe.copy() - is this correct? looks like it does not do anything

In [42]:

# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
  dataframe = dataframe.copy()
  labels = dataframe.pop('Attrition')
  ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
  ds = ds.batch(batch_size)
  return ds

In [43]:
batch_size = 5 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [44]:
for feature_batch, label_batch in train_ds.take(1):
  print('Every feature:', list(feature_batch.keys()))
  print('A batch of Education:', feature_batch['Education'])
  print('A batch of Attrication:', label_batch )

Every feature: ['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager', 'BusinessTravel_NonTravel', 'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely', 'Department_Human_Resources', 'Department_ResearchDevelopment', 'Department_Sales', 'EducationField_Human_Resources', 'EducationField_Life_Sciences', 'EducationField_Marketing', 'EducationField_Medical', 'EducationField_Other', 'EducationField_Technical_Degree', 'Gender_Female', 'Gender_Male', 'JobRole_Healthcare_Representative', 'JobRole_Human_Resources', 'JobRole_Laboratory_Technician', 'JobRole_Manager', 'JobRole_Manufacturing_Director', 'JobRole_Research_Director', 'JobRole_Research_Scientist', 'JobRole_Sales_Executive', 'JobRole_Sales_Representative', 'MaritalStatus_Divorced', 'MaritalStatus_Married', 'MaritalStatus_Single', 'Over18_Y', 'OverTime_No', 'OverTime_Yes']
A batch of Education: tf.Tensor([4 3 4 2 3], shape=(5,), dtype=int32)
A batch of Attrication: tf.Tensor([1 1 0 0 0], shape=(5,), dtype=int32)

In [45]:
# We will use this batch to demonstrate several types of feature columns
example_batch = next(iter(train_ds))[0]

In [46]:

# A utility method to create a feature column
# and to transform a batch of data
def demo(feature_column):
  feature_layer = layers.DenseFeatures(feature_column)
  print(feature_layer(example_batch).numpy())

In [47]:
daysOpen = feature_column.numeric_column("Education")
demo(daysOpen)

[[4.]
 [4.]
 [1.]
 [3.]
 [3.]]

some coding moved here. I think there may be only one loop here.

In [48]:
feature_columns = []
cont = []
cat = []

for items in df.dtypes.iteritems(): 
   if items[0]!='Attrition':
    cont.append(items[0])

#dep_var = 'Attrition'

# numeric cols
for header in cont:
  if header != 'Attrition':
    feature_columns.append(feature_column.numeric_column(header))

In [49]:
print(feature_columns)

[NumericColumn(key='Age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='DailyRate', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='DistanceFromHome', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Education', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='EmployeeCount', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='EmployeeNumber', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='EnvironmentSatisfaction', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='HourlyRate', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='JobInvolvement', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='JobLevel', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='JobSatisfaction', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='MonthlyIncome', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='MonthlyRate', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='NumCompaniesWorked', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PercentSalaryHike', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PerformanceRating', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='RelationshipSatisfaction', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='StandardHours', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='StockOptionLevel', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='TotalWorkingYears', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='TrainingTimesLastYear', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='WorkLifeBalance', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='YearsAtCompany', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='YearsInCurrentRole', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='YearsSinceLastPromotion', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='YearsWithCurrManager', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='BusinessTravel_NonTravel', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='BusinessTravel_Travel_Frequently', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='BusinessTravel_Travel_Rarely', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Department_Human_Resources', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Department_ResearchDevelopment', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Department_Sales', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='EducationField_Human_Resources', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='EducationField_Life_Sciences', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='EducationField_Marketing', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='EducationField_Medical', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='EducationField_Other', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='EducationField_Technical_Degree', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Gender_Female', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Gender_Male', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='JobRole_Healthcare_Representative', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='JobRole_Human_Resources', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='JobRole_Laboratory_Technician', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='JobRole_Manager', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='JobRole_Manufacturing_Director', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='JobRole_Research_Director', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='JobRole_Research_Scientist', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='JobRole_Sales_Executive', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='JobRole_Sales_Representative', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='MaritalStatus_Divorced', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='MaritalStatus_Married', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='MaritalStatus_Single', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Over18_Y', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='OverTime_No', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='OverTime_Yes', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [50]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)

In [51]:
batch_size = 32
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [52]:
for feature_batch, label_batch in train_ds.take(1):
  print('Every feature:', list(feature_batch.keys()))
  print('A batch of Education:', feature_batch['Education'])
  print('A batch of Attration:', label_batch )

Every feature: ['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager', 'BusinessTravel_NonTravel', 'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely', 'Department_Human_Resources', 'Department_ResearchDevelopment', 'Department_Sales', 'EducationField_Human_Resources', 'EducationField_Life_Sciences', 'EducationField_Marketing', 'EducationField_Medical', 'EducationField_Other', 'EducationField_Technical_Degree', 'Gender_Female', 'Gender_Male', 'JobRole_Healthcare_Representative', 'JobRole_Human_Resources', 'JobRole_Laboratory_Technician', 'JobRole_Manager', 'JobRole_Manufacturing_Director', 'JobRole_Research_Director', 'JobRole_Research_Scientist', 'JobRole_Sales_Executive', 'JobRole_Sales_Representative', 'MaritalStatus_Divorced', 'MaritalStatus_Married', 'MaritalStatus_Single', 'Over18_Y', 'OverTime_No', 'OverTime_Yes']
A batch of Education: tf.Tensor([3 4 2 3 3 4 5 2 3 2 3 4 2 3 4 3 4 2 3 3 2 4 4 4 3 3 2 3 2 4 2 2], shape=(32,), dtype=int32)
A batch of Attration: tf.Tensor([1 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0], shape=(32,), dtype=int32)

Very strange that the loss function is not moving at all. Its immidiately reaches the local minimum??

In [77]:
model = tf.keras.Sequential([
  feature_layer,
  layers.Dense(24, activation='relu'),
  #layers.Dense(64, activation='relu'),
  layers.Dense(1, activation='sigmoid')
])

model.compile(
              # optimizer=keras.optimizers.Adam(lr=1e-3),
              optimizer='sgd',
              loss=keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'],
              run_eagerly=True)

model.fit(train_ds,
          validation_data=val_ds,
          epochs=5)

Epoch 1/5
37/37 [==============================] - 2s 58ms/step - loss: 2.8661 - accuracy: 0.8129 - val_loss: 0.0000e+00 - val_accuracy: 0.0000e+00
Epoch 2/5
37/37 [==============================] - 2s 52ms/step - loss: 2.4764 - accuracy: 0.8410 - val_loss: 2.8319 - val_accuracy: 0.8220
Epoch 3/5
37/37 [==============================] - 2s 53ms/step - loss: 2.4634 - accuracy: 0.8410 - val_loss: 2.8319 - val_accuracy: 0.8220
Epoch 4/5
37/37 [==============================] - 2s 51ms/step - loss: 2.4504 - accuracy: 0.8410 - val_loss: 2.8319 - val_accuracy: 0.8220
Epoch 5/5
37/37 [==============================] - 2s 53ms/step - loss: 2.4764 - accuracy: 0.8410 - val_loss: 2.8319 - val_accuracy: 0.8220

In [64]:

loss, accuracy = model.evaluate(test_ds)
print("Accuracy", accuracy)

10/10 [==============================] - 0s 49ms/step - loss: 12.3145 - accuracy: 0.1701
Accuracy 0.17006803

In [ ]:
i = 0
df2 =  df.drop(['Attrition'], axis=1)
x = np.array(df2.iloc[i])
x = x.reshape(-1,1)
y = x.tolist()
print(y)
file_path = "/content/gdrive/My Drive/hrtest.json"
#json.dump(y, codecs.open(file_path, 'w', encoding='utf-8'), separators=(',', ':'), sort_keys=True, indent=4)

how can you predict y? You can only predict X. I think y means something else here. Need to stick to f(X)=y ~ model(X)=y

In [ ]:
#model.predict(y)

In [ ]:
model.summary()
#model.save('/content/gdrive/My Drive/tabular/saved_model')

Nothing needef after this. Some server settings etc. And again same definitions from above.

In [ ]:
!saved_model_cli show --dir '/content/gdrive/My Drive/tabular/saved_model/1' --all

In [ ]:
!echo "deb http://storage.googleapis.com/tensorflow-serving-apt stable tensorflow-model-server tensorflow-model-server-universal" | tee /etc/apt/sources.list.d/tensorflow-serving.list && \
curl https://storage.googleapis.com/tensorflow-serving-apt/tensorflow-serving.release.pub.gpg | apt-key add -
!apt update

In [ ]:
!apt-get install tensorflow-model-server

In [ ]:
os.environ["MODEL_DIR"] = '/content/gdrive/My Drive/tabular/saved_model/'

In [ ]:
%%bash --bg 
nohup tensorflow_model_server \
  --rest_api_port=8501 \
  --model_name=saved_model \
  --model_base_path="${MODEL_DIR}" >server.log 2>&1

In [ ]:
!tail server.log

In [ ]:
URL = '/content/gdrive/My Drive/WA_Fn-UseC_-HR-Employee-Attrition.xlsx'
dataframe = pd.read_excel('/content/gdrive/My Drive/WA_Fn-UseC_-HR-Employee-Attrition.xlsx', sheet_name=0,dtype=dtypes)
dataframe['Attrition']=dataframe.Attrition.eq('Yes').mul(1) # change target from Yes/no to 1/0
dataframe.head()

In [ ]:
cont=[]
cat=[]
for key, value in dtypes.items():
    if key!='Attrition':
        if value == "int64":
            cont.append(key)
        else:
            cat.append(key)

In [ ]:
print(cat)

In [ ]:
dataframe['BusinessTravel'].unique()

In [ ]:
train, test = train_test_split(dataframe, test_size=0.2)
train, val = train_test_split(train, test_size=0.2)
print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')

In [ ]:
# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
  dataframe = dataframe.copy()
  labels = dataframe.pop('Attrition')
  ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
  ds = ds.batch(batch_size)
  return ds

In [ ]:
example_batch = next(iter(train_ds))[0]

In [ ]:
# A utility method to create a feature column
# and to transform a batch of data
def demo(feature_column):
  feature_layer = layers.DenseFeatures(feature_column)
  print(feature_layer(example_batch).numpy())