In [55]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import pickle

import matplotlib.pyplot as plt

In [56]:
# making data frame from csv file 
df_sourcefile = pd.read_csv("Data/report_Atos_EmployeeData.csv")

print("Shape of dataframe is: {}".format(df_sourcefile.shape))
df_sourcefile.head()

Shape of dataframe is: (14718, 16)

,lastName,firstName,status,username,user-id,currency-code,paycompvalue,start-date,end-date,pay-component,frequency,date-of-birth,start-date.1,end-date.1,end-date.2,fte
0,Trombley,Francois,Active User,ftrombley,1,EUR,6500.00,1/30/2010,12/31/2013,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,0.88
1,Trombley,Francois,Active User,ftrombley,1,EUR,6763.26,1/1/2017,12/31/9999,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,0.88
2,Trombley,Francois,Active User,ftrombley,1,EUR,6696.30,1/1/2016,12/31/2016,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,0.88
3,Trombley,Francois,Active User,ftrombley,1,EUR,6630.00,1/1/2014,12/31/2015,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,0.88
4,Trombley,Francois,Active User,ftrombley,1,EUR,6500.00,1/30/2010,12/31/2013,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,1.00

# Data Cleaning

In [57]:
df = df_sourcefile.copy()
df.head()

,lastName,firstName,status,username,user-id,currency-code,paycompvalue,start-date,end-date,pay-component,frequency,date-of-birth,start-date.1,end-date.1,end-date.2,fte
0,Trombley,Francois,Active User,ftrombley,1,EUR,6500.00,1/30/2010,12/31/2013,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,0.88
1,Trombley,Francois,Active User,ftrombley,1,EUR,6763.26,1/1/2017,12/31/9999,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,0.88
2,Trombley,Francois,Active User,ftrombley,1,EUR,6696.30,1/1/2016,12/31/2016,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,0.88
3,Trombley,Francois,Active User,ftrombley,1,EUR,6630.00,1/1/2014,12/31/2015,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,0.88
4,Trombley,Francois,Active User,ftrombley,1,EUR,6500.00,1/30/2010,12/31/2013,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,1.00

In [58]:
# rename and delete columns
df = df.rename(columns={"start-date.1":"hire-date", "end-date.2":"termination-date", "end-date":"data-date"})
df.drop(['start-date', 'pay-component', 'end-date.1'], axis=1) # TODO: end-date.1 is not getting deleted
df.head()

,lastName,firstName,status,username,user-id,currency-code,paycompvalue,start-date,data-date,pay-component,frequency,date-of-birth,hire-date,end-date.1,termination-date,fte
0,Trombley,Francois,Active User,ftrombley,1,EUR,6500.00,1/30/2010,12/31/2013,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,0.88
1,Trombley,Francois,Active User,ftrombley,1,EUR,6763.26,1/1/2017,12/31/9999,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,0.88
2,Trombley,Francois,Active User,ftrombley,1,EUR,6696.30,1/1/2016,12/31/2016,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,0.88
3,Trombley,Francois,Active User,ftrombley,1,EUR,6630.00,1/1/2014,12/31/2015,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,0.88
4,Trombley,Francois,Active User,ftrombley,1,EUR,6500.00,1/30/2010,12/31/2013,BASESAL_FR,MON,6/5/1978,1/30/2010,4/12/2017,NaN,1.00

In [59]:
#drop dublicate if rows are identical
df.drop_duplicates( keep = 'first', inplace = True)
print("Shape of dataframe is: {}".format(df.shape))

Shape of dataframe is: (2839, 16)

In [60]:
#FTE should be lower equal 1
df.drop(df[df.fte > 1].index, inplace=True)
print("Shape of dataframe is: {}".format(df.shape))

Shape of dataframe is: (2805, 16)

In [61]:
# calculate daily rate
#TODO
# simplification one year has 12 months every month 4 weeks every week 5 working days
#if df['frequency'] = "MON":
    # 4 weeks with 5 working days for one FTE
    #df['daily-rate'] = ( df['paycompvalue'] / (4 * 5) ) * df['fte']
    # usw....
    
#print("Shape of dataframe is: {}".format(df.shape))

In [62]:
# delete combinations: "inactive user“ + „termination-date = NaN”
df.drop(df[(df.status == "Inactive User") & (pd.isnull(df["termination-date"]))].index, inplace=True)
print("Shape of dataframe is: {}".format(df.shape))

Shape of dataframe is: (2306, 16)

In [63]:
# delete status = x
df.drop(df[df.status == "x"].index, inplace=True)
print("Shape of dataframe is: {}".format(df.shape))

Shape of dataframe is: (2304, 16)

In [64]:
# delete data date = NaN
df.drop(df[pd.isnull(df["data-date"])].index, inplace=True)
print("Shape of dataframe is: {}".format(df.shape))

Shape of dataframe is: (2202, 16)

In [65]:
# overwrite data-date with other date format for sorting
table = df["data-date"].str.split(pat = "/")
for i in df["data-date"].index:
    s = pd.Series([table[i][2], table[i][0], table[i][1]]) # year, month, day
    df["data-date"][i] = s.str.cat(sep='.')
print("Shape of dataframe is: {}".format(df.shape))

C:\Users\Rybak\.conda\envs\HRMachineLearning\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

Shape of dataframe is: (2202, 16)

In [66]:
#take newest data.date and delete the rest
df.sort_values(by=['user-id', 'data-date'], ascending = [1, 0], inplace = True)
df.drop_duplicates(subset =["user-id"],  keep = 'first', inplace = True)
print("Shape of dataframe is: {}".format(df.shape))

Shape of dataframe is: (729, 16)

In [67]:
# delete date-of.birth = NaN
df.drop(df[pd.isnull(df["date-of-birth"])].index, inplace=True)
print("Shape of dataframe is: {}".format(df.shape))

Shape of dataframe is: (454, 16)

In [92]:
import datetime
# overwrite data-date with other date format for sorting
table = df["date-of-birth"].str.split(pat = "/")
for i in df["date-of-birth"].index:
    #s = pd.Series([table[i][2], table[i][0], table[i][1]]) # year, month, day
    birth_date = datetime.date(int(table[i][2]), int(table[i][0]), int(table[i][1])) # year, month, day
    end_date = datetime.date(1988, 6, 5)
    time_difference = end_date - birth_date
    age = time_difference.days
    #df["data-date"][i] = s.str.cat(sep='.')
    print(birth_date)
    print(age / 365)

1978-06-05
10.008219178082191
1975-01-10
13.41095890410959
1958-12-01
29.53150684931507
1980-11-30
7.517808219178082
1962-04-15
26.15890410958904
1961-07-28
26.873972602739727
1976-06-18
11.972602739726028
1965-05-10
23.087671232876712
1989-08-12
-1.1863013698630136
1990-08-29
-2.232876712328767
1980-11-30
7.517808219178082
1962-04-15
26.15890410958904
1962-07-12
25.91780821917808
1991-01-30
-2.654794520547945
1981-01-19
7.380821917808219
1974-02-13
14.317808219178081
1989-09-13
-1.273972602739726
1990-02-11
-1.6876712328767123
1956-01-31
32.367123287671234
1980-02-19
8.2986301369863
1994-04-03
-5.83013698630137
1988-11-16
-0.44931506849315067
1990-08-18
-2.202739726027397
1959-06-21
28.97808219178082
1971-05-15
17.07123287671233
1990-10-12
-2.3534246575342466
1965-12-06
22.512328767123286
1964-06-12
23.997260273972604
1981-01-19
7.380821917808219
1954-02-13
34.33150684931507
1989-09-13
-1.273972602739726
1978-10-22
9.627397260273973
1983-07-24
4.8712328767123285
1988-03-17
0.2191780821917808
1972-09-24
15.706849315068494
1970-10-10
17.665753424657535
1980-11-30
7.517808219178082
1981-01-19
7.380821917808219
1954-02-13
34.33150684931507
1980-11-30
7.517808219178082
1962-07-12
25.91780821917808
1975-02-13
13.317808219178081
1984-07-28
3.8575342465753426
1975-02-10
13.326027397260274
1977-03-17
11.227397260273973
1974-06-05
14.01095890410959
1974-06-05
14.01095890410959
1972-10-10
15.663013698630136
1970-12-10
17.4986301369863
1973-05-11
15.07945205479452
2015-05-04
-26.92876712328767
1988-11-16
-0.44931506849315067
1988-11-16
-0.44931506849315067
1956-01-31
32.367123287671234
1990-07-10
-2.095890410958904
1983-11-05
4.586301369863014
1990-06-01
-1.989041095890411
1985-06-12
2.9835616438356163
1990-06-01
-1.989041095890411
1985-06-12
2.9835616438356163
1980-12-22
7.457534246575342
1990-03-17
-1.7808219178082192
1988-03-17
0.2191780821917808
1980-12-24
7.4520547945205475
1987-02-02
1.3397260273972602
1985-02-20
3.2904109589041095
1980-04-24
8.12054794520548
1982-07-28
5.86027397260274
1971-05-28
17.035616438356165
1979-01-18
9.386301369863014
1960-09-09
27.756164383561643
1979-08-16
8.810958904109588
1981-07-05
6.923287671232877
1988-04-03
0.1726027397260274
1981-07-02
6.931506849315069
1980-10-03
7.676712328767123
1979-01-16
9.391780821917807
1980-10-04
7.673972602739726
1987-04-28
1.106849315068493
1978-06-05
10.008219178082191
1988-06-01
0.010958904109589041
1978-04-28
10.112328767123287
1989-06-29
-1.0657534246575342
1986-01-09
2.4054794520547946
1988-06-08
-0.00821917808219178
1979-04-29
9.10958904109589
1987-06-10
0.989041095890411
1978-04-28
10.112328767123287
1988-02-02
0.33972602739726027
1990-04-19
-1.8712328767123287
1983-05-21
5.046575342465753
1990-08-29
-2.232876712328767
1980-11-30
7.517808219178082
1962-07-12
25.91780821917808
1991-01-30
-2.654794520547945
1981-01-19
7.380821917808219
1976-02-13
12.317808219178081
1989-09-13
-1.273972602739726
1990-02-11
-1.6876712328767123
1956-01-31
32.367123287671234
1980-02-19
8.2986301369863
1994-04-03
-5.83013698630137
1988-11-16
-0.44931506849315067
1990-08-18
-2.202739726027397
1984-07-28
3.8575342465753426
1971-05-15
17.07123287671233
1990-10-12
-2.3534246575342466
1965-12-06
22.512328767123286
1980-05-06
8.087671232876712
1966-09-22
21.71780821917808
1980-02-04
8.33972602739726
1960-05-19
28.065753424657533
1978-10-22
9.627397260273973
1985-02-07
3.326027397260274
1977-11-15
10.561643835616438
1990-03-17
-1.7808219178082192
1971-09-24
16.70958904109589
1983-05-21
5.046575342465753
1990-08-29
-2.232876712328767
1980-11-30
7.517808219178082
1981-01-19
7.380821917808219
1964-02-13
24.326027397260273
1956-01-31
32.367123287671234
1994-04-03
-5.83013698630137
1988-11-16
-0.44931506849315067
1990-08-18
-2.202739726027397
1959-06-21
28.97808219178082
1971-05-15
17.07123287671233
1990-10-12
-2.3534246575342466
1965-12-06
22.512328767123286
1976-01-01
12.435616438356165
1971-01-01
17.438356164383563
1967-02-08
21.336986301369862
1977-08-07
10.835616438356164
1969-12-18
18.476712328767125
1979-03-03
9.265753424657534
1986-01-03
2.421917808219178
1978-03-01
10.271232876712329
1980-12-24
7.4520547945205475
1969-04-18
19.145205479452056
1980-11-30
7.517808219178082
1981-01-19
7.380821917808219
1976-02-13
12.317808219178081
1969-03-17
19.232876712328768
1980-02-19
8.2986301369863
1994-04-03
-5.83013698630137
1989-03-15
-0.7753424657534247
1970-01-07
18.421917808219177
1970-01-07
18.421917808219177
1970-11-25
17.53972602739726
1956-04-03
32.1945205479452
1993-08-07
-5.175342465753425
1958-12-01
29.53150684931507
1961-07-28
26.873972602739727
1962-05-27
26.043835616438358
1980-01-01
8.432876712328767
1979-01-01
9.432876712328767
1980-01-01
8.432876712328767
1982-01-01
6.4301369863013695
1972-04-06
16.175342465753424
1988-03-02
0.2602739726027397
1983-05-04
5.093150684931507
1976-05-05
12.093150684931507
1978-12-25
9.452054794520548
1987-05-11
1.0712328767123287
1975-05-26
13.038356164383561
1976-05-01
12.104109589041096
1964-10-11
23.665753424657535
1976-06-02
12.016438356164384
1970-10-10
17.665753424657535
1974-11-07
13.586301369863014
1965-07-13
22.912328767123288
1970-01-01
18.438356164383563
1968-04-22
20.134246575342466
1971-01-01
17.438356164383563
1968-03-20
20.224657534246575
1988-12-09
-0.5123287671232877
1984-01-05
4.419178082191781
1977-12-08
10.498630136986302
1972-04-04
16.18082191780822
1989-08-06
-1.16986301369863
1970-12-02
17.52054794520548
1974-05-25
14.04109589041096
1985-12-17
2.4684931506849317
1969-10-19
18.64109589041096
1987-11-13
0.5616438356164384
1986-08-24
1.7835616438356163
1980-06-03
8.01095890410959
1985-11-04
2.5863013698630137
1984-05-24
4.035616438356165
1982-11-11
5.5698630136986305
1974-06-20
13.96986301369863
1974-06-20
13.96986301369863
1955-03-01
33.28767123287671
1968-09-27
19.7013698630137
1970-01-03
18.432876712328767
1980-03-01
8.26849315068493
1975-09-08
12.75068493150685
1989-03-08
-0.7561643835616438
1958-03-22
30.22739726027397
1959-04-04
29.19178082191781
1965-02-16
23.315068493150687
1967-01-06
21.427397260273974
1970-08-12
17.827397260273973
1979-05-10
9.07945205479452
1968-01-30
20.361643835616437
1967-05-15
21.073972602739726
1982-08-07
5.832876712328767
1972-06-18
15.975342465753425
1956-12-12
31.5013698630137
1974-08-20
13.802739726027397
1970-01-06
18.424657534246574
1975-01-27
13.364383561643836
1977-07-22
10.87945205479452
1981-11-15
6.558904109589041
1986-01-24
2.3643835616438356
1986-08-01
1.8465753424657534
1987-10-21
0.6246575342465753
1982-06-09
5.994520547945205
1975-04-04
13.180821917808219
1980-02-12
8.317808219178081
1967-01-27
21.36986301369863
1979-10-25
8.61917808219178
1984-06-06
4.0
1968-09-30
19.693150684931506
1980-02-19
8.2986301369863
1981-01-19
7.380821917808219
1983-05-21
5.046575342465753
1978-11-16
9.558904109589042
1962-07-12
25.91780821917808
1990-02-11
-1.6876712328767123
1975-03-25
13.208219178082192
1980-12-13
7.482191780821918
1982-11-22
5.53972602739726
1979-06-15
8.98082191780822
1989-08-01
-1.1561643835616437
1971-09-05
16.76164383561644
1961-01-02
27.44109589041096
1960-02-22
28.304109589041097
1962-01-15
26.405479452054795
1976-03-30
12.191780821917808
1963-07-15
24.90958904109589
1965-10-20
22.64109589041096
1963-06-27
24.958904109589042
1964-08-30
23.78082191780822
1969-06-12
18.994520547945207
1973-02-13
15.317808219178081
1973-12-17
14.476712328767123
1972-04-22
16.13150684931507
1975-09-14
12.734246575342466
1960-10-21
27.64109589041096
1960-04-17
28.153424657534245
1965-01-14
23.405479452054795
1969-05-25
19.043835616438358
1960-07-28
27.873972602739727
1977-07-21
10.882191780821918
1964-09-13
23.742465753424657
1985-07-11
2.904109589041096
1976-01-26
12.367123287671232
1973-07-28
14.865753424657534
1958-01-13
30.413698630136988
1984-11-18
3.547945205479452
1972-01-24
16.375342465753423
1959-11-16
28.572602739726026
1979-04-06
9.172602739726027
1981-09-07
6.747945205479452
1980-04-09
8.161643835616438
1983-01-08
5.410958904109589
1981-05-03
7.095890410958904
1982-10-11
5.654794520547945
1980-05-23
8.04109589041096
1984-05-10
4.073972602739726
1988-04-09
0.15616438356164383
1960-11-17
27.567123287671233
1964-12-04
23.517808219178082
1975-03-20
13.221917808219178
1963-11-19
24.561643835616437
1972-08-22
15.797260273972602
1969-06-03
19.019178082191782
1974-09-18
13.723287671232876
1973-12-27
14.449315068493151
1987-05-17
1.0547945205479452
1993-06-23
-5.052054794520548
1969-11-29
18.528767123287672
1982-07-26
5.865753424657535
1970-12-01
17.523287671232875
1965-02-08
23.336986301369862
1976-08-09
11.830136986301369
1979-04-04
9.178082191780822
1972-06-19
15.972602739726028
1990-04-19
-1.8712328767123287
1977-08-21
10.797260273972602
1961-12-11
26.5013698630137
1980-06-27
7.945205479452055
1963-05-17
25.07123287671233
1988-02-05
0.3315068493150685
1964-08-22
23.802739726027397
1981-06-03
7.010958904109589
1974-05-09
14.084931506849315
1986-03-15
2.2273972602739724
1967-12-29
20.44931506849315
1977-12-27
10.446575342465753
1984-01-09
4.4082191780821915
1985-06-01
3.0136986301369864
1986-05-23
2.0383561643835617
1973-09-05
14.758904109589041
1975-06-02
13.01917808219178
1970-10-16
17.649315068493152
1980-03-23
8.208219178082192
1996-10-12
-8.35890410958904
1991-04-23
-2.882191780821918
1972-11-01
15.602739726027398
1983-08-14
4.813698630136987
1970-04-14
18.156164383561645
1991-07-12
-3.1013698630136988
1991-06-01
-2.989041095890411
1950-11-04
37.61095890410959
1979-12-27
8.446575342465753
1989-02-18
-0.7068493150684931
1988-11-30
-0.4876712328767123
1987-12-11
0.4849315068493151
1977-01-19
11.383561643835616
1983-07-03
4.928767123287671
1967-03-12
21.24931506849315
1983-04-17
5.13972602739726
1977-01-12
11.402739726027397
1983-05-09
5.079452054794521
1964-09-03
23.76986301369863
1980-09-15
7.726027397260274
1988-08-06
-0.16986301369863013
1974-05-13
14.073972602739726
1990-10-31
-2.4054794520547946
1992-01-06
-3.589041095890411
1990-04-14
-1.8575342465753424
1985-08-28
2.7726027397260276
1983-07-24
4.8712328767123285
1985-12-16
2.4712328767123286
1974-05-07
14.09041095890411
1987-05-31
1.0164383561643835
1976-08-17
11.808219178082192
1981-08-19
6.8
1979-08-15
8.813698630136987
1980-10-23
7.6219178082191785
1976-12-21
11.463013698630137
1986-06-03
2.0082191780821916
1979-06-06
9.005479452054795
1963-04-03
25.19178082191781
1966-06-09
22.005479452054793
1977-07-06
10.923287671232877
1979-06-13
8.986301369863014
1987-04-06
1.167123287671233
1965-08-14
22.824657534246576
1986-05-22
2.041095890410959
1963-05-17
25.07123287671233
1981-08-15
6.810958904109589
1980-06-27
7.945205479452055
1981-03-06
7.254794520547946
1976-08-02
11.849315068493151
1991-04-24
-2.884931506849315
1986-12-24
1.4493150684931506
1990-10-31
-2.4054794520547946
1963-03-24
25.21917808219178
1985-04-24
3.117808219178082
1979-01-31
9.35068493150685
1978-10-02
9.682191780821919
1986-10-14
1.643835616438356
1990-04-10
-1.8465753424657534
1982-07-07
5.917808219178082
1988-12-20
-0.5424657534246575
1990-04-20
-1.873972602739726
1988-04-29
0.10136986301369863
1977-03-15
11.232876712328768
1980-04-25
8.117808219178082
1985-04-08
3.1616438356164385
1979-05-30
9.024657534246575
1990-04-18
-1.8684931506849316
1980-04-09
8.161643835616438
1978-01-12
10.402739726027397
1987-11-24
0.5315068493150685
1979-05-04
9.095890410958905
1975-08-02
12.852054794520548
1969-03-16
19.235616438356164
1976-09-08
11.747945205479452
1987-06-01
1.0136986301369864
1988-04-09
0.15616438356164383
1981-01-19
7.380821917808219
1979-08-16
8.810958904109588
1981-01-08
7.410958904109589
1959-08-12
28.835616438356166
1987-09-04
0.7534246575342466
1965-08-02
22.85753424657534
1974-03-01
14.273972602739725
1983-08-01
4.8493150684931505
1978-11-25
9.534246575342467
1981-09-04
6.756164383561644
1980-08-04
7.841095890410959
1977-04-13
11.153424657534247
1958-12-01
29.53150684931507
1985-10-12
2.649315068493151
1982-07-26
5.865753424657535
1978-01-23
10.372602739726027
1963-02-10
25.334246575342465
1982-05-08
6.082191780821918
1961-11-12
26.58082191780822
1979-08-10
8.827397260273973
1985-01-15
3.389041095890411
1975-06-04
13.013698630136986
1979-01-18
9.386301369863014
1986-02-01
2.3424657534246576
1969-01-20
19.386301369863013
1980-11-30
7.517808219178082
1989-05-05
-0.915068493150685
1970-04-22
18.134246575342466
1977-06-01
11.01917808219178
1989-04-19
-0.8712328767123287
1980-01-09
8.41095890410959
1980-04-03
8.178082191780822
1984-08-17
3.802739726027397
1990-12-03
-2.495890410958904
1974-12-10
13.495890410958904
1970-01-01
18.438356164383563
1984-07-20
3.8794520547945206
1979-08-22
8.794520547945206
1988-05-02
0.09315068493150686
1988-04-20
0.12602739726027398
1980-11-07
7.580821917808219
1980-07-04
7.926027397260274
1976-08-09
11.830136986301369
1963-12-24
24.465753424657535
1983-04-30
5.104109589041096
1981-07-06
6.920547945205479
1972-06-19
15.972602739726028
1970-06-15
17.986301369863014
1964-08-22
23.802739726027397
1971-11-29
16.528767123287672
1965-04-05
23.183561643835617
1970-10-10
17.665753424657535
1978-10-27
9.613698630136986
1988-04-02
0.17534246575342466
1987-08-16
0.8054794520547945
1980-10-03
7.676712328767123
1992-06-01
-3.9917808219178084
1979-04-04
9.178082191780822
1979-05-01
9.104109589041096
1982-02-03
6.33972602739726
1962-04-01
26.197260273972603
1984-05-03
4.093150684931507
1981-03-15
7.23013698630137
1975-02-15
13.312328767123288
1972-09-13
15.736986301369862
1978-10-05
9.673972602739726
1990-10-01
-2.3232876712328765
1985-01-16
3.3863013698630136
1980-01-26
8.364383561643836

# Output

In [69]:
#Save data to XLSX
df.to_excel('Data/output.xlsx', )

PermissionError: [Errno 13] Permission denied: 'Data/output.xlsx'